@font-face {
font-family: 'CommitMonoIGWC';
src: url('/fonts/CommitMonoIGWC.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'NotoEmoji';
src: url('/fonts/notoemoji.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'MonaSans';
src: url('/fonts/MonaSansExpanded-Black.woff2') format('woff2');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Libre Caslon Condensed';
src: url('/fonts/LibreCaslonCondensed-Medium.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Libre Caslon Condensed';
src: url('/fonts/LibreCaslonCondensed-MediumItalic.woff2') format('woff2');
font-weight: normal;
font-style: italic;
}
@font-face { 
font-family: "Inter"; 
font-style: normal; 
font-weight: 500; 
src: url("/fonts/Inter-Medium.woff2") format("woff2"); 
font-feature-settings: "ss07", "ss08", "cv10"; 
}
@font-face { 
font-family: "Inter"; 
font-style: normal; 
font-weight: 800; 
src: url("/fonts/Inter-ExtraBold.woff2") format("woff2"); 
font-feature-settings: "ss07", "ss08", "cv10"; 
}
:root{
--igwc: #de1f1a;
--limestone: #f2f2f2;
--paper: #ffffff;
--peony: #ffe7e9;
--peony-grain: #fbe3e4;
--tulip: #ffcacd;
--ink: #0e0e0e;
}
body{
margin: 0;
font-family:"Inter", "NotoEmoji", "Arial", sans-serif;
line-height: 1.4;
color: var(--igwc);
background-color: var(--peony);
background-image: url("/grain.png");
background-repeat: repeat;
}
ul{
padding-left: 1em;
margin:0.5em 0;
}
ul li{
list-style: "\25CF";
padding: 0.25em 0 0.25em 0.5em ;
}
hr{
border:none;
border-top: solid 0.1rem var(--igwc);
}
a{word-break: break-word;}
header{
display: flex;
flex-wrap: wrap;
column-gap: 2em;
margin: 2rem;
	& #title{
	flex-basis: 60%;
	flex-grow: 1;
	}
	& #subtitle{
		font-family: "CommitMonoIGWC", monospace;
		font-size: 80%;
		margin: 0.5em 0;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 1em;
	}
	nav {
	flex-basis: 35%;
	flex-grow: 1;
		position: relative;
		& > ul{
		display:flex;
		flex-wrap: wrap;
		justify-content: start;
		font-family: "CommitMonoIGWC", monospace;
		text-transform: uppercase;
		font-size: 80%;
		padding: 0;
			& li{
				list-style: none;
				padding: 0;
				display: contents;
			}
			& a{
				border: 0.15em solid var(--igwc);
				border-radius: 0.3em;
				padding: 0.2em 0.3em 0.1em;
				margin: 0.25em;
				line-height: 1;
				text-decoration: none;
				transition: 0.5s;
				transition-property: color, background-color, text-shadow;
			}
			a.highlight{
				color: var(--limestone);
				background-color: var(--igwc);
			}
			
			& a:hover{
			background-color: rgb(from var(--igwc) r g b / 20%);
			}
			& a[aria-current="page"]{
				color: var(--limestone);
				background-color: var(--igwc);
			}
			a.highlight:hover,a.highlight[aria-current="page"]{
				text-shadow: var(--paper) 0px 0 1em;
				color: var(--limestone);
				background-color: var(--igwc);
			}
		}
	}
}
main{
	margin: 2rem;
	font-size: 120%;
  h1{
    font-family: "Libre Caslon Condensed", "Times New Roman", serif;
    font-weight: normal;
    font-size: 250%;
    padding: 0.5rem 0;
    border-bottom: solid 0.1rem;
    margin: 0;
    margin-top: 2rem;
    line-height: 1.2;
  }
  h2{
  	font-family: "MonaSans", "Inter", "Arial", sans-serif;
  	font-weight: bold;
  	font-size: 200%;
  	font-weight: 700;
		margin:0;
		margin-bottom: 1rem;
  }
  h3{
  	font-family: "Libre Caslon Condensed", "Times New Roman", serif;
  	font-weight: normal;
  	font-size: 150%;
		margin:0;
  }
	section{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 3rem;
		row-gap: 1rem;
		margin-top: 2rem;
		p:has(img){
		margin: 0;
		display: contents;
/* 		height: 60vh; */
		}
	}
	.red{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 2rem;
		color: var(--limestone);
		background-color: var(--igwc);
		background-image: url("/grain.png");
		background-repeat: repeat; 
		border-radius: 0.5rem;
		padding: 2rem;
		h2{
		text-shadow: rgba(255,255,255,0.3) 0px 0 2rem;
		line-height: 1;
		flex-basis: 33%;
		flex-grow: 1;
		min-width: 300px;
		}
		p{
		color: var(--paper);
		}
	}
	.third{
	flex-basis: 33%;
	flex-grow: 1;
	min-width: 300px;
	}
	.twothird{
	flex-basis: calc(66% - 3rem);
	flex-grow: 1;
		p{
		margin-top: 0.5rem;
		}
	}
	p.action{
	margin: 1rem 0;
	display: inline-block;
	font-family: "CommitMonoIGWC", monospace;
	text-transform: uppercase;
	font-size: 80%;
		a{
			border: 0.15em solid var(--igwc);
			border-radius: 0.5em;
			padding: 0.2em 0.5em 0.1em;
			line-height: 1;
			transition: 0.5s;
			text-decoration: none;
			color: var(--limestone);
			background-color: var(--igwc);
		}
		a:hover{
			text-shadow: rgba(255,255,255,0.6) 0px 0 10px;
			color: var(--limestone);
			background-color: var(--igwc);
		}
		a::after{
			content: "\2192";
			padding-left: 0.5em;
		}
	}
	p.deemphasize{
		a{
			border: 0.15em solid var(--igwc);
			color: var(--igwc);
			background-color: transparent;
		}
		a:hover{
			color: var(--igwc);
			background-color: #de210920;
		}
		a::after{
			content: "";
			padding: 0;
		}
	}
	.vertical{
	display: flex;
	flex-direction: column;
	justify-content: start;
		p{
		margin-top: 0
		}
		.action{
		margin: auto;
		margin-bottom: 1rem;
		width: fit-content;
		}
	}
	img{
	border-radius: 0.5rem;
/* 	max-height: 60vh; */
	max-width: 100%;
	width: initial;
	height: initial;
	}
}
footer{
min-height: calc(100vh - 6rem);
color: var(--limestone);
background-color: var(--igwc);
background-image: url("/grain.png");
background-repeat: repeat; 
margin: 0;
font-family: "MonaSans", "NotoEmoji", "Inter", "Arial", sans-serif;
font-size: 300%;
line-height: 1;
border-radius: 1rem;
padding: 2rem;
margin: 1rem;
	svg{
	height: 1em;
	vertical-align: middle;
	fill: var(--limestone)
	}
	& a:active{color:inherit;text-shadow: rgba(255,255,255,0.4) 0px 0 1em;}
  & p:first-of-type{
  margin-top: 0;
  margin-bottom: 0;
  }
  .pages{
  	font-family: "CommitMonoIGWC", monospace;
  	font-size: 1rem;
  	width: 50%;
  	columns: 2;
  	text-transform: uppercase;
  	ul{
  	display: block;
  	}
  	li{
  	padding:0.2rem;
  		list-style: none;
  	}
  }
  ::selection{
  color: var(--ink);
  background-color: transparent;
  }
}

a:link,a:visited{
color: inherit;
}


details{
margin: 0.5em 0;
background-color: var(--igwc);
color: var(--limestone);
border-radius: 0.5rem;
padding: 1rem;
	p{
	margin: 1rem 0.25rem;
	color: var(--paper);
	}
	> p:first-of-type{
	border-top: solid 0.2rem var(--limestone);
	padding-top: 1rem;
	}
}
summary {
	cursor: pointer;
	list-style: none;
	font-family: "Libre Caslon Condensed", "Times New Roman", serif;
	font-weight: normal;
	font-size: 150%;
	padding: 0rem;
	padding-right: 1rem;
	line-height: 1.2;
	display: flex;
	justify-content: space-between;
	align-items: center;
  & p{
	color: var(--limestone);
  display:inline;
  margin:0;
  }
  &::after {
    content: ">";
    transition: 0.5s;
    transform: rotate(90deg);
  }
  [open] &::after {
    transform: rotate(-90deg);
  }
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

summary::-webkit-details-marker {display: none;}


#banner p{
background-color: var(--igwc);
color: var(--limestone);
border-radius: 0.75rem;
padding: 0.5rem;
font-size: 140%;
font-weight: bold;
filter: drop-shadow(2px 0px 1px var(--igwc));
	& a:active{color:inherit;text-shadow: rgba(255,255,255,0.6) 0px 0 1em;}
}

.grid p{
display:flex;
justify-content: start;
align-items: start;
flex-direction: row;
overflow-x: scroll;
scroll-snap-type: x mandatory;
gap: 1em;
border-radius: 0.5rem;
max-height: 80vh;
	img{
	scroll-snap-align: center;
	max-width: 80%;
	max-height: 60vh;
	}
}

.small{
font-size: smaller;
}
a.asterisk{
text-decoration: none;
}
.columns{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.column{flex-basis: 50%;}
.autocolumn{
columns: 28rem auto;
column-fill: balance;
margin-bottom: 2rem;
	li{
	break-inside: avoid;
	}
}
.fade{
opacity: 70%;
}
.monospace{
font-family: "CommitMonoIGWC", monospace;
font-size: 70%;
line-height: 1.2;
}

#logo{
fill: var(--igwc);
filter: drop-shadow(2px 0px 1px var(--igwc));
}

.embed{
margin-top: 1em;
background-color: var(--peony);
background-image: url("/grain.png");
background-repeat: repeat;
height: 85vh;
	& iframe{
		border: none;
		width: 100%;
		height: 100%;
		border-radius: 1rem;
	}
	& iframe.calendar{
		border-radius: 1rem;
		background-color: var(--peony);
		mix-blend-mode: multiply;
		filter: grayscale(100%);
	}
}
@media (max-width: 400px) {
	header, main{
		margin: 1rem;
		font-size: 100%;
		h1{font-size: 220%;}
		h2{font-size: 180%;line-height: 1;margin-top:1rem;}
		h3{line-height: 1;}
	}
	footer{
	font-size: 150%;
	margin:0.5rem;
	padding: 1rem;
	}
	main{
		.red h2{
		min-width: 100%;
		}
		.red{
		padding: 1rem;
		}
	}
}