.newsgrid{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 1rem;
margin-top: 2rem;
}
a.story{
flex-basis: calc(50% - 4rem);
min-width: 16rem;
flex-grow: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: var(--igwc);
color: var(--limestone);
text-decoration: none;
padding: 1em;
border-radius: 0.75rem;
	& p.title{
	margin-top: 0;
	font-family: "Libre Caslon Condensed", "Times New Roman", serif;
	font-size: 150%;
	display: flex;
	justify-content: space-between;
	gap: 1rem;
		& .underline{
		text-decoration: underline;
		}
	}

}
a.story:link,a.story:visited{
color: var(--limestone);
}
.newsheader{
border-bottom: solid 0.2rem;
	& h1 {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
	}
}
.info{
	font-family: "CommitMonoIGWC", monospace;
	font-size: 75%;
	margin: 0.25em 0;
	text-transform: uppercase;
	display: flex;
	& .type{
	flex-basis: 4em;
	flex-shrink: 0;
	}
}
.news-embed{
margin-top: 1rem;
height: 80vh;
	& iframe{
		border: none;
		width: 100%;
		height: 100%;
	}
}
.text{
max-width: 46rem;
margin:2rem 1rem;
}