<style>
@font-face {
font-family: 'CommitMonoIGWC';
src: url('/Users/e1/Documents/Projects/Websites/igwc/public/fonts/CommitMonoIGWC.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}
:root{
--igwc-red: #cc1229;
--igwc-pink: #fff7f7;
--pink-grain-composite: #f9f2f3;
--igwc-light-grey: #efd1d2;
--igwc-grey: #4c4a4a;
}
body{
max-width: 700px;
color: var(--igwc-red);
background-color: var(--igwc-pink);
font-family: Inter;
}
form{
 & .panel{
    margin: 1em 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1em;
    border-radius: 0.5rem;
    border: 1px var(--igwc-light-grey) solid;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    & .required .label::after{
      content: "*";
      padding: 0 0.5em;
      opacity: 0.7;
    }
    & .question{
      flex-grow: 1;
      flex-basis: 15rem;
      & .label, .input{
        display: flex;
        align-items: center;
      }
      & .label{
      font-family: CommitMonoIGWC;
      font-size: 70%;
      line-height: 1.2;
      display: flex;
      justify-content: space-between;
        & p{
        margin: 0.25em;
        }
      }
      & .input{
      }
      & input {
        background-color: white;
        font-size: inherit;
        appearance: none;
        padding: 8px;
        border: none;
        border: 2px var(--igwc-light-grey) solid;
        border-radius: 0.5em;
        width: 100%;
        height: 100%;
        margin: 0px;
        transition: 0.5s ;
        transition-property: border-color;
      }
      & input:focus{
        outline: none;
        border:2px #cc1229 solid;
      }
    }
  }
}
</style>
<body>

<form method="POST" action="">

<div class="panel">
	<div class="question required">
    <div class="label"><p>First Name</p></div>
    <div class="input"><input autocomplete="given-name" type="text" id="first" name="first" required placeholder="First Name" /></div>
	</div>
	<div class="question required">
    <div class="label"><p>Last Name</p></div>
    <div class="input"><input autocomplete="family-name" type="text" id="last" name="last" required placeholder="Last Name" /></div>
	</div>
</div>
<div class="panel">
	<div class="question required">
    <div class="label"><p>IU Username</p></div>
    <div class="input"><input type="text" id="username" name="username" required placeholder="IU Username" /></div>
	</div>
</div>
<div class="panel">
	<div class="question">
    <label for="contactChoice1">Email</label>
	  <input type="radio" id="contactChoice1" name="contact" value="email" />
	</div>
</div>
<div class="panel">
	<div class="question">
	<div class="label"><p>Department</p></div>
    <div class="input">
    <input list="department" id="dept-field" name="dept-field" placeholder="Department"/>
    <datalist id="department">
      <option data-dept="AAAD" value="African American and African Diaspora Studies">AAAD</option>
      <option data-dept="AFRI" value="African Studies">AFRI</option>
      <option data-dept="AMST" value="American Studies">AMST</option>
      <option data-dept="ANTH" value="Anthropology">ANTH</option>
      <option data-dept="ARTH" value="Art History">ARTH</option>
      <option data-dept="AST" value="Astronomy">AST</option>
      <option data-dept="BIOC" value="Biochemistry">BIOC</option>
      <option data-dept="BIOL" value="Biology">BIOL</option>
      <option data-dept="BIOT" value="Biotechnology">BIOT</option>
      <option data-dept="BUS" value="Business">BUS</option>
      <option data-dept="CEUS" value="Central Eurasian Studies">CEUS</option>
      <option data-dept="CHEM" value="Chemistry">CHEM</option>
      <option data-dept="CJUS" value="Criminal Justice">CJUS</option>
      <option data-dept="CLAC" value="Latin American and Caribbean Studies">CLAC</option>
      <option data-dept="CLAS" value="Classical Studies">CLAS</option>
      <option data-dept="CMCB" value="Cell Molecular and Cancer Biology">CMCB</option>
      <option data-dept="CMCL" value="Communication and Culture">CMCL</option>
      <option data-dept="CMLT" value="Comparative Literature">CMLT</option>
      <option data-dept="COGS" value="Cognitive Science">COGS</option>
      <option data-dept="CSCI" value="Computer Science">CSCI</option>
      <option data-dept="DSCI" value="Data Science">DSCI</option>
      <option data-dept="EALC" value="East Asian Lang and Culture">EALC</option>
      <option data-dept="EAS" value="Earth and Atmospheric Sciences">EAS</option>
      <option data-dept="ECON" value="Economics">ECON</option>
      <option data-dept="EDUC" value="Education">EDUC</option>
      <option data-dept="ENG" value="English">ENG</option>
      <option data-dept="ENGR" value="Intelligent Systems Engineering">ENGR</option>
      <option data-dept="FOLK" value="Folklore and Ethnomusicology">FOLK</option>
      <option data-dept="FRIT" value="French and Italian">FRIT</option>
      <option data-dept="GEOG" value="Geography">GEOG</option>
      <option data-dept="GER" value="Germanic Studies">GER</option>
      <option data-dept="GNDR" value="Gender Studies">GNDR</option>
      <option data-dept="HISP" value="Spanish and Portuguese">HISP</option>
      <option data-dept="HIST" value="History">HIST</option>
      <option data-dept="HPSC" value="History and Philosphy of Science and Medicine">HPSC</option>
      <option data-dept="ILS" value="Information and Library Science">ILS</option>
      <option data-dept="INFO" value="Informatics">INFO</option>
      <option data-dept="INTL" value="International Studies">INTL</option>
      <option data-dept="JSTU" value="Jewish Studies">JSTU</option>
      <option data-dept="LAW" value="Law">LAW</option>
      <option data-dept="LING" value="Linguistics">LING</option>
      <option data-dept="LTAM" value="Latin American Studies">LTAM</option>
      <option data-dept="MATH" value="Mathematics">MATH</option>
      <option data-dept="MCB" value="Molecular and Cellular Biochemistry">MCB</option>
      <option data-dept="MELC" value="Middle Eastern Languages and Cultures">MELC</option>
      <option data-dept="MSCH" value="The Media School">MSCH</option>
      <option data-dept="MSCI" value="Medical Sciences">MSCI</option>
      <option data-dept="MUS" value="Music">MUS</option>
      <option data-dept="NELC" value="Near Eastern Lang and Cultures">NELC</option>
      <option data-dept="NEUS" value="Neuroscience">NEUS</option>
      <option data-dept="NURS" value="Nursing">NURS</option>
      <option data-dept="OPT" value="Optometry">OPT</option>
      <option data-dept="PHIL" value="Philosophy">PHIL</option>
      <option data-dept="PHYS" value="Physics">PHYS</option>
      <option data-dept="POLS" value="Political Science">POLS</option>
      <option data-dept="PSY" value="Psychological and Brain Sciences">PSY</option>
      <option data-dept="REEI" value="Russian and East European Inst">REEI</option>
      <option data-dept="REL" value="Religious Studies">REL</option>
      <option data-dept="SGIS" value="Global and International Studies">SGIS</option>
      <option data-dept="SLAV" value="Slavic and East European Languages and Cultures">SLAV</option>
      <option data-dept="SLST" value="Second Language Studies">SLST</option>
      <option data-dept="SOAD" value="School of Art and Design">SOAD</option>
      <option data-dept="SOC" value="Sociology">SOC</option>
      <option data-dept="SPEA" value="Public And Environmental Affairs">SPEA</option>
      <option data-dept="SPH" value="Public Health">SPH</option>
      <option data-dept="SPHS" value="Speech and Hearing Sciences">SPHS</option>
      <option data-dept="STAT" value="Statistics">STAT</option>
      <option data-dept="SWK" value="Social Work">SWK</option>
      <option data-dept="THTR" value="Theatre, Drama and Cntmp Dance">THTR</option>
      <option data-dept="VSCI" value="Vision Science">VSCI</option>
    </datalist>
    </div>
	</div>
</div>

	<input type="submit">
</form>
</body>