---
import Logo from '/src/media/logo.svg';
/* import {Content as Sticker1} from '/src/pages/pieces/sticker1.md'
import {Content as Sticker2} from '/src/pages/pieces/sticker2.md' */

const stickers = Object.values(import.meta.glob('/src/pages/pieces/sticker*.md', { eager: true }));
const { pathname } = Astro.url;
const posts = Object.values(import.meta.glob('/src/pages/*.md', { eager: true }));
posts.sort((a, b) => a.frontmatter.order - b.frontmatter.order);
console.log(pathname.slice(1))
---

<header>
  <a href="/"><Logo /></a>
  <p id="subtitle"><span>Indiana Graduate Workers Coalition</span> <span>United Electrical Workers</span></p>
  <nav>
  <ul>
{posts.map((post) => <li class={pathname.replace(/\/$/, '') === post.url.replace(/\/$/, '') ? 'current' : ''}><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
  {stickers.map((sticker, index) => <div class:list={["sticker", 'rotate' + index]} set:html={sticker.compiledContent()} />)}
  </nav>
</header>
